*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 22px;
    color: white;
}
#div1 {
    background-color:rgb(34, 26, 39);
   font-family: Arial, Helvetica, sans-serif;
  /*  margin-left: 25%;*/
   margin-top: -5px;
   font-style: unset;
}
img{
    margin-left:40px;
}


table, th{
    text-align: center;
    padding: 5px;
}

td{
    text-align: center;
    padding: 2px;
  /*  background-color: blue;*/
}
tr:hover{
    background-color: rgb(69, 69, 97);
}
table {
    
    align-items: center;
    border-spacing: 2px;
}

.dropdown{
    margin-left: 45%;
    margin-top: -65px;
}
/*
#div2{
    margin-left: 25%;
}*/